:root {
    --doc-height: 100%;
    --color-black: #1f1f1f;
    --color-grey: #e0e0e0;
    --color-white: #ffffff;
    --color-blue: #195da9;
    --color-orange: #ec6628;
    --color-yellow: #f8a92e;
    --color-green: #0e7544;
    --color-pink: #f089a6;
}